/* FONTS */
@font-face {
    font-family: "Carolingia";
    src: url("font/carolingia.ttf");
    font-weight: normal;
    font-style: normal;
}

/* *************
VARIABLES
************* */
:root {
    --text: #321325;
    --background: #ffebcb;
    --primary: #3b2a2c;
    --secondary: #926960;
    --accent: #da9863;

    /* fonts */
    --tolkien-font: "Carolingia", "Iowan Old Style", "Palatino Linotype",
        "URW Palladio L", P052, serif;
    --primary-font: "Times New Roman", "Iowan Old Style", "Palatino Linotype",
        "URW Palladio L", P052, serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100vw;
    overflow-x: hidden;

    background-color: var(--accent);
    color: var(--text);
    font-size: 1em;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0 auto;

    min-width: 20em;
    max-width: 75vw;
    background-color: var(--background);

    box-sizing: border-box;
}

article section {
    /* border: 1px solid var(--primary); */

    min-width: 20em;
    height: 100vh;
}

@media (max-width: 54em) {
    article {
        grid-template-columns: 1fr;
    }
}

article section:nth-of-type(odd) {
    box-shadow: 0.25em 0em 1em 0.25em rgba(50, 25, 0, 0.33);
}

article section:nth-of-type(even) {
    box-shadow: -0.25em 0em 1em 0.25em rgba(50, 25, 0, 0.33);
}

h1 {
    margin: 0.5em;
    font-family: var(--tolkien-font);
    font-size: 1.5em;

    text-align: center;
}

p {
    font-family: var(--primary-font);
    text-indent: 1em;
}

article section p:first-of-type {
    margin: 0.5em;

    font-family: var(--tolkien-font);
    font-size: 1.5em;

    text-align: center;
}
